# ---------------- ENV ----------------
.env
.venv/
venv/
env/

# ---------------- PYTHON ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- SYSTEM FILES ----------------
.DS_Store
Thumbs.db

# ---------------- IDE ----------------
.vscode/
.idea/

# ---------------- DATA ----------------
data/raw/
data/processed/

# ---------------- DATABASE ----------------
chromadb/

# ---------------- NOTEBOOK ----------------
.ipynb_checkpoints/

# ---------------- LOGS ----------------
*.log

# ---------------- STREAMLIT ----------------
.streamlit/

# ---------------- CACHE ----------------
.cache/